<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="NewBinding1"
						 receiveTimeout="01:00:00"
						 sendTimeout="01:00:00"
						 maxBufferSize="2099999999"
						 maxReceivedMessageSize="2099999999">

					<readerQuotas maxDepth="2099999999"
						 maxStringContentLength="2099999999"
						 maxArrayLength="2099999999"
						 maxBytesPerRead="2099999999"
						 maxNameTableCharCount="2099999999" />
				</binding>
			</basicHttpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior name="mexBehavior">
					<serviceMetadata httpGetEnabled="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service behaviorConfiguration="mexBehavior" name="Image_Steganography_Service.HideAndSeek">
				<endpoint address="Steganography" binding="basicHttpBinding" bindingConfiguration="NewBinding1" contract="Image_Steganography_Service.IHideAndSeek" ></endpoint>
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8000"/>
					</baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel>
</configuration>